<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galgespil">

    <supports-screens
        android:normalScreens="true"
        android:smallScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_my_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_my_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Statistic.StatAct"></activity>
        <activity android:name=".Challenges.ChallengeAct" />
        <activity
            android:name=".Game.GameFinishAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Highscore.HighscoreAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game.GameAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartPage.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>